<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Reset password</h5>

            <form class="form-signin">
              <span style="color:red">{{errorinfo}}</span>
              <div class="form-label-group">
                password<input [(ngModel)]="password" value="" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <!-- <label for="inputEmail"></label> -->
              </div>

              <div class="form-label-group">

                repeat<input [(ngModel)]="repeatpassword" value="" name="repeatpassword" type="password" id="repeatpassword" class="form-control" placeholder="Password" required>
               <!-- <label for="inputPassword">Password</label>-->
              </div>

              <!-- <div class="custom-control custom-checkbox mb-3">
                <a [routerLink]="[ '/findpassword' ]">ResetPassword</a>
              </div> -->
              <button (click)="resetPassword()"   class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Reset</button>
              <hr class="my-4">
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>